@import "~dialog-polyfill/dist/dialog-polyfill.css";
@import "~xterm/css/xterm.css";

.xterm .xterm-accessibility {
  z-index: auto;
}

.xterm .live-region {
  top: 0;
}

.xterm .xterm-viewport {
  overflow-y: hidden;
}
